@use "variables";
@use "mixins";

.section02 {
  position: relative;
  width: inherit;
  height: inherit;

  @include mixins.mobile {
    width: 100%;

    @supports (height: 100.1dvh) {
      height: calc(100.1dvh - var(--nav-size));
    }
    @supports not (height: 100.1dvh) {
      height: calc(100.1vh - var(--nav-size));
    }
  }

  .map-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .work-history-balloon {
    position: absolute;
    z-index: 3;
    top: -42%;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
    padding: 20px;
    color: #000000;
    background-color: #ffffff;
    border-radius: 10px;
    opacity: 0.9;
    transform: translateY(0);
    transition: all 0.3s linear;
    filter: drop-shadow(0 5px 10px rgb(58, 58, 58));

    @include mixins.mobile {
      top: -40%;
      padding: 15px;
    }

    p {
      max-width: 300px;
      max-height: 200px;
      width: 100%;
      height: fit-content;
      padding: 5px 10px 5px 0;
      white-space: pre-wrap;
      overflow-y: auto;
      overscroll-behavior: contain;
      line-height: 110%;
      box-sizing: border-box;

      @include mixins.tablet {
        max-width: 250px;
        max-height: 130px;
        padding: 5px 5px 5px 0;
      }
      @include mixins.mobile {
        max-width: 230px;
        max-height: 100px;
        padding: 5px 5px 5px 0;
      }
    }

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      bottom: -4%;
      left: 15%;
      width: 20px;
      height: 20px;
      background-color: #ffffff;
      transform: rotate(45deg);
    }

    &.hide {
      opacity: 0;
      transform: translateY(-10px);
    }
  }

  .career-btns {
    position: absolute;
    z-index: 3;
    top: 15px;
    left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    filter: drop-shadow(0 0 3px #a8a8a8);

    @include mixins.mobile {
      width: fit-content;
      flex-direction: row;
      top: 10px;
      left: 10px;
    }

    &::before {
      position: absolute;
      z-index: -1;
      content: "";
      width: 3px;
      height: 100%;
      background-color: var(--border-color);

      @include mixins.mobile {
        width: 100%;
        height: 3px;
      }
    }

    button {
      @include mixins.no-highlight-tap;

      cursor: pointer;
      width: fit-content;
      height: fit-content;
      outline: none;
      border-radius: 5px;
      border: 2px solid var(--border-color);
      font-weight: 700;
      color: var(--font-color);
      background-color: var(--card-bg);
      padding: 3px 5px;
      white-space: nowrap;

      @include mixins.mobile {
        padding: 2px 4px;
        white-space: pre;
      }

      &.button--active {
        color: var(--card-bg);
        background-color: var(--font-color);
      }

      &:hover {
        border-color: var(--loader-color);
      }

      &:not(:last-of-type) {
        margin-bottom: 20px;

        @include mixins.mobile {
          margin-bottom: 0;
          margin-right: 10px;
        }
      }

      &:disabled {
        filter: grayscale(100%);
      }
    }
  }
}
