@use "variables";

@mixin snap-scroll-parent {
  max-height: 100vh;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
}

@mixin snap-scroll-child {
  height: 100.1vh;
  overflow-y: hidden;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

@mixin card($radius: 0, $padding: 0) {
  background-color: var(--card-bg);
  box-sizing: border-box;

  @if $radius != 0 {
    border-radius: $radius;
  }

  @if $padding != 0 {
    padding: $padding;
  }
}

@mixin square-box($width: 100%, $ratio: 1 / 1) {
  width: $width;
  aspect-ratio: $ratio;
}

@mixin rectangle-box($width: 100%, $height: auto) {
  width: $width;
  height: $height;
}

@mixin no-highlight-tap {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

@mixin media-hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
}

// responsive
@mixin mobile {
  @media (min-width: variables.$breakpoint-mobile) and (max-width: (variables.$breakpoint-tablet - 1px)) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: variables.$breakpoint-tablet) and (max-width: (variables.$breakpoint-desktop - 1px)) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: variables.$breakpoint-desktop) {
    @content;
  }
}
