@use "variables";

@mixin snap-scroll-parent {
  height: 100vh;
  max-height: 100vh;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
}

@mixin snap-scroll-child {
  height: 100%;
  overflow-y: hidden;
  scroll-snap-align: center;
}

@mixin card($radius: 0, $padding: 0) {
  background-color: variables.$card-bg;
  box-sizing: border-box;

  @if $radius != 0 {
    border-radius: $radius;
  }

  @if $padding != 0 {
    padding: $padding;
  }
}

@mixin square-box($width: 100%, $ratio: 1 / 1) {
  width: $width;
  aspect-ratio: $ratio;
}

@mixin rectangle-box($width: 100%, $height: auto) {
  width: $width;
  height: $height;
}
