// Colors
$root-bg: #0d0e12;
$card-bg: #13161b;
$border-color: #1c1f25;
$font-color: #ffffff;
$loader: #a8a8a8;

// Breakpoints
$breakpoint-mobile: 335px;
$breakpoint-tablet: 758px;
$breakpoint-desktop: 1024px;
