@use "reset";
@use "variables";
@use "mixins";
@use "components";
@use "animations";

html {
  background-color: variables.$root-bg;
  color: variables.$font-color;
  font-size: 16px;

  @include mixins.tablet {
    font-size: 14px;
  }
  @include mixins.mobile {
    font-size: 13px;
  }
}

:root {
  --aside-width: 70px;
  @include mixins.tablet {
    --aside-width: 30px;
  }
}
