@use "mixins";
@use "variables";

.section01 {
  width: 80%;
  height: fit-content;
  display: grid;
  grid-template-areas:
    "model nick"
    "model info"
    "stat info";
  grid-template-columns: 1fr 2fr;
  gap: 40px;

  @include mixins.tablet {
    width: 90%;
    gap: 30px;
  }
  @include mixins.mobile {
    width: 90%;
    grid-template-areas:
      "model"
      "nick"
      "stat"
      "info";
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 40px 0;
  }

  .stat {
    grid-area: stat;
    cursor: default;

    @include mixins.rectangle-box;
    @include mixins.card(15px, 30px);

    @include mixins.tablet {
      @include mixins.card(15px, 20px);
    }
    @include mixins.mobile {
      @include mixins.card(15px, 20px);
    }

    &__gauge {
      margin-bottom: 30px;
      width: 95%;
      display: flex;
      align-items: center;

      &--label {
        margin-right: 15px;
        font-size: 0.9rem;
      }

      &--bar {
        position: relative;
        width: 100%;
        height: 5px;
        border-radius: 10rem;
        background-color: var(--border-color);
        margin-bottom: -8px;

        span {
          position: absolute;
          top: -15px;
          right: 0;
          margin: auto;
          width: fit-content;
          height: fit-content;
          font-size: 0.6rem;
        }
      }
    }

    &__badge-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-items: center;
      row-gap: 20px;

      @include mixins.card(10px, 15px 10px);
      @include mixins.rectangle-box;

      background-color: var(--border-color);
    }

    &__badge-title {
      font-size: 0.9rem;
      margin-bottom: 8px;
    }

    &__badge {
      width: fit-content;
      display: flex;
      align-items: center;

      &--label {
        width: fit-content;
        height: 22px;
        display: flex;
        align-items: center;
        border-radius: 5rem;
        padding: 0 8px;
        margin-right: 10px;

        span {
          line-height: normal;
          font-size: 0.7rem;
        }

        &--stat-str {
          background-color: var(--red);
        }
        &--stat-dex {
          background-color: var(--green);
        }
        &--stat-int {
          background-color: var(--sky);
        }
        &--stat-luk {
          background-color: var(--purple);
        }
        &--stat-atk {
          background-color: var(--orange);
        }
        &--stat-def {
          background-color: var(--blue);
        }
      }
    }
  }

  .nick {
    grid-area: nick;
    color: var(--font-color);
    font-size: 3rem;
    font-weight: 700;
    padding: 10px 0 0 10px;
    margin-bottom: -15px;

    @include mixins.rectangle-box;

    @include mixins.mobile {
      margin-bottom: 10px;
    }
  }

  .armature-view-container {
    grid-area: model;
    position: relative;

    @include mixins.square-box;
    @include mixins.card(15px);

    .property {
      position: absolute;
      top: 20px;
      left: 20px;
      filter: drop-shadow(0 0 4px rgb(143, 200, 247));

      img {
        @include mixins.square-box(45px);
      }
    }
  }

  .info {
    grid-area: info;

    @include mixins.rectangle-box;
    @include mixins.card(15px, 30px);

    @include mixins.tablet {
      @include mixins.card(15px, 20px);
    }
    @include mixins.mobile {
      @include mixins.card(15px, 20px);
    }

    ul {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 20px;

      li {
        div {
          font-size: 1.3rem;
          font-weight: 700;
          margin-bottom: 10px;
        }

        pre {
          margin-left: 10px;
          margin-bottom: 10px;
          font-style: italic;
        }

        p {
          font-size: 1rem;
          line-height: 120%;
          &:not(:last-of-type) {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}
