@use "mixins";
@use "variables";

.main {
  @include mixins.snap-scroll-parent;

  width: 100%;
}

.section-container {
  @include mixins.snap-scroll-child;

  width: 100%;
}

.map-container,
.model-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.section {
  width: inherit;
  height: inherit;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  &.disable {
    display: none;
  }

  .section01 {
    width: 80%;
    height: fit-content;
    display: grid;
    grid-template-areas:
      "model nick"
      "model info"
      "stat info";
    grid-template-columns: 1fr 2fr;
    gap: 40px;

    @include mixins.tablet {
      width: 90%;
      gap: 30px;
    }
    @include mixins.mobile {
      width: 90%;
      gap: 20px;
    }

    .stat {
      grid-area: stat;

      @include mixins.rectangle-box;
      @include mixins.card(15px, 30px);

      @include mixins.tablet {
        @include mixins.card(15px, 20px);
      }
      @include mixins.mobile {
        @include mixins.card(15px, 10px);
      }
    }

    .nick {
      grid-area: nick;
      color: white;
      font-size: 2rem;
      font-weight: 700;
      padding: 10px 0 0 10px;
      margin-bottom: -15px;

      @include mixins.rectangle-box;
    }

    .armature-view-container {
      grid-area: model;
      position: relative;

      @include mixins.square-box;
      @include mixins.card(15px);
    }

    .info {
      grid-area: info;

      @include mixins.rectangle-box;
      @include mixins.card(15px, 30px);

      @include mixins.tablet {
        @include mixins.card(15px, 20px);
      }
      @include mixins.mobile {
        @include mixins.card(15px, 10px);
      }
    }
  }
}
